@import url('https://fonts.googleapis.com/css?family=Sanchez|Shrikhand');

*{
box-sizing: border-box;

}

body {
	background-color: #ffffff;
	margin:0;
	padding:0;
	background-image: url(../images/pineapple.jpg);
	background-attachment: fixed;
	background-size:cover;
}

nav ul{
	list-style-type: none;
	width:80%;
	padding:0;
	border:solid red;
	margin:auto;
	background-color:#ffffff;
}
nav ul:after{
	content: "";
  display: table;
  clear: both;
}

nav li {
	float:left;
	width:33.33%;
	text-align: center;
	border:solid yellow;
}

nav {
	width: 100%;
	padding:15px 0;
	font-family: 'Sanchez', serif;
	font-size: 26px;
	border:solid green;
}

nav a{
color:#87a188;
text-decoration: none;
transition: .7s;
border:solid blue;
}

nav a:hover{
	color:#516051;
}

.header {
	line-height: 0;
	padding-top: 50px;
	font-size: 70px;
	color:#000000;
	text-align: center;
/*	background-image: url(../images/pineapple.jpg);
	background-attachment: fixed;
	background-size:cover;
	color:#000000;
*/
	font-family: 'Shrikhand', cursive;
}

.subheader {
	line-height: 65px;
	color:#000000;
	font-size: 30px;
	padding-bottom: 50px;
	font-family: 'Shrikhand', cursive;
	text-align: center;
}

.text{
	font-family: 'Sanchez', serif;
	font-size: 20px;
	line-height: 26px;
	background-color: #ffffff;
	margin:auto 8%;
	padding:5%;
}